/* Responsive layout for desktop format */
@media only screen and (min-width: 1024px) {
   .account-profile {
    width: 33.3%;
    float: left;
    margin-top: 50px;
   } 

   .container {
    width: 66.6%;
    float: right;
    margin-top: 200px; /*Navbar is 200px*/
   }
}