/*CSS for inputting new tweets*/

.new-tweet{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.error-element{
  height: 60px;
  border: 6px solid #e55238e6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: none;
}

.error-element-text{
  color: #e55238e6;
}

.fa-exclamation-triangle{
  color: #e55238e6;
}

.tweet-info{
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.tweet-button{
  color: #FFFFFF;
  background-color: #4056a1;
  border: none;
}

.tweet-button:hover {
  background-color: #829bef;
}

#tweet-text{
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  resize: none;
  font-size: 0.8em;
  border: none;
  border-bottom: thick solid #545149;
  margin-bottom: 12px;
  background-color: transparent;
}